


.portfolio{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;

    
    }
    
.portfolio h1{
    text-align: center;

}

.portfolio .carts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 40px;

    
}

.portfolio .carts .cart{
    text-align: center;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 1rem var(--bg-color);
    
}

.portfolio .carts .cart:hover .textCart{
    height: 100%;
}
.portfolio .carts .cart:hover img{
    transform: scale(1.1);

}

.portfolio .carts .cart img{
    width: 100%;
    /* animation: none; */
    height: 100%;
    border-radius: 30px;
    transition: 0.3s;

}

.portfolio .carts .cart .textCart{
    position: absolute;
    width: 100%;
    height: 0%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    background-image:linear-gradient(to top, var(--main-color) 15%,transparent );
    transition: 5s;
    bottom: 0;
    left: 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;


}


.portfolio .carts .cart .textCart h3{
    color: #fff;
    font-size: 35px;
    background: transparent;
}
 .portfolio .carts .cart .textCart p{
    font-size: 22px;
    color: #fff;
    background: transparent;
    width: 80%;

 }

 @media (max-width :1200px ) {
    .portfolio .carts .cart {
      
        gap: 15px;
       
    }
    .portfolio .carts .cart i {
        font-size: 2.5rem;
        font-weight: 900;
 
    }
    .portfolio .carts .cart h3 {
        font-size: 2rem;
       
    }

    .portfolio .carts .cart p {
     
        font-size: 1.25rem;
        background-color: var(--second-bg-color);
        color: #fff;
        overflow: hidden;
    
    }
   
} 
@media (max-width :992px ) {
    .portfolio .carts {
        grid-template-columns: 1fr 1fr ;

    }
    .portfolio .carts .cart p {
     
        font-size: 1rem;
    
    }

   
} 

@media (max-width : 768px){
    .portfolio h1{
        font-size: 2rem;
    
    }
    .portfolio .carts {
        grid-template-columns: 1fr  ;

    }
   

} 

