


.home{

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 0;






}



 .left-section{
    width: 50%;
    display: grid;
     gap: 25px;
     overflow: hidden;

  
}
    
 .left-section h3{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;

}
 .left-section h1{
    color: var(--text-color);
    font-size: 3.5rem;
    font-weight: 800;
}


 .left-section p,
.buttom-section p{
    color: var(--text-color);
    font-size: 1.5rem;
}


.left-section h3 .multiple-text {
    position: relative;
  }
   .multiple-text::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    left: 0;
    bottom: 0;
    position: absolute;
    border-left: 4px solid #0ef;
    animation: animate 4s steps(12) infinite;
    -webkit-animation: animate 5s steps(12) infinite;
  }
  @keyframes animate {
    40%,
    60% {
      left: 100%;
    }
    100% {
      right: 0%;
    }
  }





 




.right-section{
    width: 45%;
    overflow: hidden;


    

}
.right-section .avatar{
    width:100% ;

    animation: moveUpDown 2s ease-in-out infinite;
}



@media (max-width :992px ) {


     .left-section{
        gap: 20px;


    }
    

    
 .left-section h3{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;

}
 .left-section h1{
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 700;
}


 .left-section p,
.buttom-section p{
    color: var(--text-color);
    font-size: 1.25rem;
}



 

    
} 

 @media (max-width : 768px){
  
.home{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding-bottom: 30px;
   




}
.left-section{
    width: 100%;
    gap: 15px;
    height: 50%;


}
.left-section .btn{
   margin-top: 10px;
    
}
.right-section{
    width: 100%;
   
}
} 

@media (max-width : 400px){

    .multiple-text::before {
       display: none;
      }

}

